listen_addresses = 'localhost, {{ replica_ip }}'
hot_standby = on
wal_level = replica
wal_keep_segments = 32
max_wal_senders = 5
max_replication_slots = 5
max_wal_size = 1GB
min_wal_size = 80MB
archive_mode = on
archive_command = 'cp -i %p {{ pg_path }}/archive/%f'
datestyle = 'iso, mdy'
timezone = '{{ ntp_timezone }}'
default_text_search_config = 'pg_catalog.english'
logging_collector = on
log_timezone = '{{ ntp_timezone }}'
log_destination = 'stderr'
log_directory = 'log'
log_line_prefix = '%m [%p] '
log_filename = 'postgresql-%a.log'
log_truncate_on_rotation = on
log_rotation_age = 1d
log_rotation_size = 0