DEVICE="{{ bond_device }}"
IPADDR="{{ bond_address }}"
PREFIX="{{ bond_netmask }}"
TYPE="Bond"
ONBOOT="yes"
BOOTPROTO="none"
BONDING_MASTER="yes"
USERCTL="no"
NOZEROCONF="yes"
BONDING_OPTS="mode=active-backup arp_interval=1000 arp_ip_target={{ bond_address_neighbor }} fail_over_mac=active"
MII_NOT_SUPPORTED="yes"