DEVICE="{{ config_device_3 }}:{{ config_device_3_alias_1 }}"
TYPE="Ethernet"
BOOTPROTO="none"
ONBOOT="yes"
NOZEROCONF="yes"
USERCTL="no"
IPADDR="{{ config_device_3_alias_1_address }}"
PREFIX="{{ config_device_3_alias_1_netmask }}"