filebeat.inputs:
- type: log
  enabled: false
  paths:
    - /var/log/*.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

setup.kibana:
  host: "{{ elk_hostname }}.{{ domain }}:5601"

output.logstash:
  hosts: ["{{ elk_hostname }}.{{ domain }}:5044"]

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~