auth = "pam"
tcp-port = 443
udp-port = 443
run-as-user = ocserv
run-as-group = ocserv
socket-file = ocserv.sock
chroot-dir = /var/lib/ocserv
max-clients = 16
max-same-clients = 2
keepalive = 32400
dpd = 90
mobile-dpd = 1800
switch-to-tcp-timeout = 25
try-mtu-discovery = false
server-cert = /etc/pki/CA/certs/ocserv_server.crt
server-key = /etc/pki/CA/private/ocserv_server.pem
dh-params = {{ ocserv_server_config_path }}{{ ocserv_DH_filename }}
ca-cert = /etc/pki/CA/certs/openvpnCA.crt
compression = true
tls-priorities = "NORMAL:%SERVER_PRECEDENCE:%COMPAT:-VERS-SSL3.0"
auth-timeout = 240
min-reauth-time = 300
cookie-timeout = 300
rekey-time = 172800
rekey-method = ssl
use-occtl = true
pid-file = /var/run/ocserv.pid
device = vpns
ping-leases = false
cisco-client-compat = true
dtls-legacy = false
ipv4-network = 10.0.30.0/24
cert-user-oid = 0.9.2342.19200300.100.1.1
