server {
        listen 81;

        server_name python.mydomain.test;

        root /usr/share/nginx/html;
        
        location / {
                try_files $uri @app;
        }
    
        location @app {
                include uwsgi_params;
                uwsgi_pass python:5000;
        }

}